@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size:36px;
}

a{
    margin: 5px;
}


.pt-5{
    padding-top: 190px;
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
}


#dark{
    color: #3a3a3c;
    position: absolute;
    width:48px;
    height: 48px;
    top: 1.1vh;
    right: 0.5vh;
  
  
}

#info{
    color: #3a3a3c;
    position: absolute;
    width:48px;
    height: 48px;
    top: 1.1vh;
    right: 5.5vh;
  
  
}

.piggy{
    color: #3a3a3c;
    position: absolute;    
    top: 0.2vh;
  
}


  
.hidden{
    display: none;
}

a {
    color: #3a3a3c;
    bottom: 20%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;

}

a:hover {
    color: #000;
}


.game-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    zoom: 0.7;
}

.end-game-container {
    height: 30vh;
    width: 30vh;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    text-align: center;
    vertical-align: middle
}

.end-game-container h1 {
    height: 30vh;
    width: 30vh;
    display: flex;
    align-items: center;
    background-color: #1da8e9;
    text-align: center;
    vertical-align: middle
}

.title-container {
    text-align: center;
    width: 300px;
}

.tile-container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding:10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    border-top:1px solid #2e2e2e;

  }
  #board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding:10px;
    box-sizing: border-box;
  }

.key-container {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 5px;

}


.key-container button {
    width: 45px;
    height: 88px;
    border-radius: 4px;
    font-size: larger;
    font-weight: 600;
    border: none;
    background-color: #dedede;
    margin: 2px;
    color:#000;
    
}

.key-container button:nth-child(11) {
    margin-left: 30px;
}

.key-container button:nth-child(11){
    margin-left: 30px;
    width: 35px;
}
.key-container button:nth-child(12),
.key-container button:nth-child(13),
.key-container button:nth-child(14),
.key-container button:nth-child(15),
.key-container button:nth-child(16),
.key-container button:nth-child(17),
.key-container button:nth-child(18),
.key-container button:nth-child(19),
.key-container button:nth-child(20),
.key-container button:nth-child(21) {
    width: 35px;
}

.key-container button:nth-child(23),
.key-container button:nth-child(24),
.key-container button:nth-child(25),
.key-container button:nth-child(26),
.key-container button:nth-child(27),
.key-container button:nth-child(28),
.key-container button:nth-child(29),
.key-container button:nth-child(30){
    width: 40px;
}

.key-container button:nth-child(22),
.key-container button:nth-child(31) 
{
    width: 68px;
}

.tile-container div {
    display: flex;
}

.tile-container .tile {
    width: 100%;
    height: 86px;
    border: 1px solid #b9b9b9;
    border-radius: 8px;
    box-sizing: border-box;
    color: #fff;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

#end-container  {
    
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

#end-container p{
    padding: 50px;
}



.message-container p {
    background-color: #0a0a0abb;
    border-radius: 20px;
    color: #fff;
    padding: 40px 20px 40px 20px;
    margin: 0;
    font-size: x-large;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.container {
    display: none;
    width: 75%;
    height: 60%;
    max-width: 350px;
    max-height: 450px;
    position: fixed;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 120px;
    z-index: 2;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
    border: 1px solid #939393;
    color: #161616;
}

#results {
    position: absolute;
    padding: 10px;    
    white-space: pre-wrap;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}


#infoo {
    position: absolute;
    padding: 10px 0 10px 0;    
    white-space: pre-wrap;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

#results p{
   padding: 90px;
    
}

#close {
    position: absolute;
    padding-left: 15px;
    white-space: pre-wrap;
    font-size: 20px;    
    
}




#resultLogo {
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 40%;
    text-align: center;
    font-size: xx-large;
    border: 3px solid #3a3a3c;
    padding: 10px;

}

.footer {
    color: #3a3a3c;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;

}

.instagram {
    color: rgb(131, 58, 180);
}


.tile.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}



.grey-overlay {
    background-color: #3a3a3c !important;
    border: none !important;
    color: #fff !important;
}

.yellow-overlay {
    background-color: #fcd53f !important;
    border: none !important;
}

.green-overlay {
    background-color: #00d26a !important;
    border: none !important;
    color: #fff !important;

}

/* // Extra small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) {
    .game-container {
    /*background-color: #161616;*/
    zoom: 0.9;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) { 
    .game-container {
        /*background-color: #161616;*/
        zoom: 0.9;
        }
 }

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) { 
    .game-container {
        /*background-color: #161616;*/
        zoom: 0.9;
        }
 }

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {
    .game-container {
        /*background-color: #161616;*/
        zoom: 0.8;
        }
  }

  .dark-mode{
    background-color: #161616 !important ;
    color: #ccc !important;
  }


  .dark-mode a{
    background-color: #161616 !important ;
    color: #ccc !important;
  }

  .dark-mode span{
    background-color: #161616 !important ;
    color: #ccc !important;
  }


  .dark-mode #endContainer{
    background-color: #161616 !important ;
    color: #ccc !important;
  }
  

  button{
    color: #fff;
    background-color: #000;
    border-color: #222;
    text-transform: uppercase;
}

/* Add the necessary styles to position the userCoinContainer */
.userCoinContainer {
    position: fixed;
    top: 2vh;
    /* Adjust the top position as needed */
    left: 10px; /* Adjust the right position as needed */
    z-index: 999; /* Ensure it's on top of other elements if necessary */
}


#userCoinDisplay{
    position: fixed;
    top: 3vh;
    left: 5.5vh; /* Adjust the right position as needed */

}




